* {
    margin: 0;
    padding: 0;
}

body {
<<<<<<< HEAD
    background: white;
=======
    background: black;
>>>>>>> 4abb87ed72ecf88d48da4543098489a2cc740800
}

canvas {
    display: block;
}

#color {
<<<<<<< HEAD
    color: #ffffff;
=======
    color: #BBB;
>>>>>>> 4abb87ed72ecf88d48da4543098489a2cc740800
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
